<div class="container">
  <div class="form-body">
    <ul>
      <%#= @classes.each do |class| %>
        <%#= class %>
      <%# end %>
      <%#= @name %>
      <%#= @number %>
      <%#= @season %>
      <%#= @department %>
      <%#= @grade %>
      <%#= @credit %>
      <%#= @teacher %>
<!--      <li><%#= @link %></li>-->
<!--      <li>Name : <%#= @name %></li>-->
<!--      <li>Number : <%#= @number %></li>-->
<!--      <li>Season : <%#= @season %></li>-->
<!--      <li>Department : <%#= @department %></li>-->
<!--      <li>Grade : <%#= @grade %></li>-->
<!--      <li>Credit : <%#= @credit %></li>-->
<!--      <li>Teacher : <%#= @teacher %></li>-->
      <!--      <li>Value : <%#= @value  %></li>-->
      <!--      <li>TextBook : <%#= @textbook  %></li>-->
    </ul>
    <%= form_for :classlist, url: '/classlist/create' do |f| %>
      <p>
        <%= f.text_field :name, placeholder: 'enter name'%>
      </p>
      <p>
        <%= f.text_field :number, placeholder: 'enter' %>
      </p>
      <p>
        <%= f.select :department,
                     [
                         ["経済学部", "E"],
                         ["経営学部", "B"],
                         ["法学部", "J"],
                         ["現代社会学部", "P"],
                         ["外国語学部", "L"],
                         ["文化学部", "C"],
                         ["理学部", "S"],
                         ["コンピュータ理工学部", "D"],
                         ["情報理工学部", "D"],
                         ["総合生命学部", "N"]
                     ] %>
      </p>
      <p>
        <%= f.text_field :teacher, placeholder: 'enter'%>
      </p>
      <p>
        <%= f.text_field :textbook, placeholder: 'enter text' %>
      </p>
      <p>
        <%= f.text_field :day_of_the_week, placeholder: 'enter text' %>
      </p>
      <p>
        <%= f.text_field :time_schedule, placeholder: 'enter text' %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
</div>
