
<header>
  <link rel="stylesheet" type="text/css" href="style/classes.css"/>
  <img src="/IMG_4549.JPG">
</header>
<body>

<table border=1>
  <tr>
    <th>時限</th>
    <th>月曜日</th>
    <th>火曜日</th>
    <th>水曜日</th>
    <th>木曜日</th>
    <th>金曜日</th>
    <th>土曜日</th>
  </tr>
  <tr>
    <td>1</td>
    <td><%= link_to("月1", "/classes/mon/first") %></td>
    <td><%= link_to("火1", "/classes/mon/first") %></td>
    <td><%= link_to("水1", "/classes/mon/first") %></td>
    <td><%= link_to("木1", "/classes/mon/first") %></td>
    <td><%= link_to("金1", "/classes/mon/first") %></td>
    <td><%= link_to("土1", "/classes/mon/first") %></td>
  </tr>
  <tr>
    <td>2</td>
    <td><%= link_to("月2", "/classes/mon/first") %></td>
    <td><%= link_to("火2", "/classes/mon/first") %></td>
    <td><%= link_to("水2", "/classes/mon/first") %></td>
    <td><%= link_to("木2", "/classes/mon/first") %></td>
    <td><%= link_to("金2", "/classes/mon/first") %></td>
    <td><%= link_to("土2", "/classes/mon/first") %></td>
  </tr>
  <tr>
    <td>3</td>
    <td><%= link_to("月3", "/classes/mon/first") %></td>
    <td><%= link_to("火3", "/classes/mon/first") %></td>
    <td><%= link_to("水3", "/classes/mon/first") %></td>
    <td><%= link_to("木3", "/classes/mon/first") %></td>
    <td><%= link_to("金3", "/classes/mon/first") %></td>
    <td><%= link_to("土3", "/classes/mon/first") %></td>
  </tr>
  <tr>
    <td>4</td>
    <td><%= link_to("月4", "/classes/mon/first") %></td>
    <td><%= link_to("火4", "/classes/mon/first") %></td>
    <td><%= link_to("水4", "/classes/mon/first") %></td>
    <td><%= link_to("木4", "/classes/mon/first") %></td>
    <td><%= link_to("金4", "/classes/mon/first") %></td>
    <td><%= link_to("土4", "/classes/mon/first") %></td>
  </tr>
  <tr>
    <td>5</td>
    <td><%= link_to("月5", "/classes/mon/first") %></td>
    <td><%= link_to("火5", "/classes/mon/first") %></td>
    <td><%= link_to("水5", "/classes/mon/first") %></td>
    <td><%= link_to("木5", "/classes/mon/first") %></td>
    <td><%= link_to("金5", "/classes/mon/first") %></td>
    <td><%= link_to("土5", "/classes/mon/first") %></td>
  </tr>
  <tr>
    <td>6</td>
    <td><%= link_to("月6", "/classes/mon/first") %></td>
    <td><%= link_to("火6", "/classes/mon/first") %></td>
    <td><%= link_to("水6", "/classes/mon/first") %></td>
    <td><%= link_to("木6", "/classes/mon/first") %></td>
    <td><%= link_to("金6", "/classes/mon/first") %></td>
    <td><%= link_to("土6", "/classes/mon/first") %></td>
  </tr>

</table>

</body>

