<div class="container">
  <h1>My Page</h1>
  <ul>
    <li>
      <%= @user.name%>
    </li>
    <li>
      <%= @user.email%>
    </li>
    <li>
      <%= @user.department%>
    </li>
    <li>
      <%= @user.grade%>回生
    </li>
    <li>
      <%= @user.friend_id%>
    </li>
  </ul>
</div>