<head>
  <title>Home index</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="header">
  <div class="header-logo">User Data</div>
</div>
<body>
<% @users.each do |user| %>
  <ul>
    <li>
      <%= user.id%>
      <%= user.name%>
      <%= user.email%>
      <%= user.department%>
      <%= user.grade%>
      <%= user.friend_id%>
    </li>
  </ul>
<% end %>
<%= link_to('新規登録','/user/new') %>
</body>