<head>
  <title>Home index</title>
</head>
<div class="header">
  <div class="header-logo">User Data</div>
</div>
<body>
<% @users.each do |user| %>
  <ul>
    <li>
      <%= user.id%>
      <%= user.name%>
      <%= user.email%>
      <%= user.department%>
      <%= user.grade%>
      <%= user.friend_id%>
    </li>
  </ul>
<% end %>
<%= link_to('新規登録','/user/new') %>
</body>