<ul>
  <li>Title : <%= @title %></li>
  <li>Teacher : <%= @teacher %></li>
  <li>Value : <%= @value  %></li>
  <li>TextBook : <%= @textbook  %></li>
  <li><%= link_to('scraipe', 'scraipe') %></li>
</ul>