<h1>Weathers#show</h1>
<p>Find me in app/views/weathers/show.html.erb</p>

<ul>
  <li>Title : <%= @title %></li>
  <li>Teacher : <%= @teacher %></li>
  <li>Description    : <%= @description %></li>
  <li>Image    : <%= @image %></li>
  <li>Content : <%= @content  %></li>
  <li>Value : <%= @value  %></li>
</ul>